/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

* {
    box-sizing: border-box;
}

html {
    font-family: "Tomorrow", sans-serif;
    color: white;
    min-height: 100dvh;
}

body {
    background-color: black;
    min-height: 100dvh;
}

header {
    padding: 1.1em 1em;
    height: 4.5em;
    border-image: linear-gradient(to right, #000 0%, #02c39a 50%, #000 100%) 1;
    border-width: 0 0 1px;
    border-style: solid;
}

img {
    height: 100%;
}

main {
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

b {
    font-weight: 600;
}

h1 {
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    margin: 0 1rem;
    padding: 0 0 1.75rem 0;
}

.singleline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;
    width: 100%;
    height: 1em;
}

.singleline img {
    margin: 0.2rem 0.75rem;
}

.singleline span {
    display: inline-block;
}

#network {
    display: block;
    margin: 2em 0;
    width: 90%;
}

.heading {
    display: flex;
    font-size: 1.4em;
    margin: 0 0 0.5rem;
}

.heading img {
    margin: 0 0.5rem 0 0;
}

p {
    line-height: 1.2rem;
    font-size: 1.1em;
}

section {
    align-self: stretch;
    margin: 0.5em 0;
    padding: 1em;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 0.3em;
    box-shadow: rgba(250, 250, 250, 0.2) 0 0.3em 0.8em -0.4em;
}

#insanios {
    margin: 3rem 1.5rem;
}

#insanios ~ p {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.1em;
}

#gopher {
    margin: 1rem 1rem -0.6rem;
    height: 5em;
    align-self: flex-start;
}

.glowing-spacer {
    margin: 0 0 1.5rem;
    box-shadow: white 0 0 0.5em 0.05em;
    width: 70%;
    max-width: 300px;
    border: 1px solid white;
}

footer {
    border-image: linear-gradient(to right, #000 0%, #02c39a 50%, #000 100%) 1;
    border-width: 1px 0 0;
    border-style: solid;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: space-evenly;
}

footer p {
    text-align: center;
}

footer nav a {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

.title-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    header, footer {
        max-width: 1000px;
        width: 100%;
    }

    #insanios {
        align-self: center;
        width: 3rem 0;
        width: 80%;
    }

    #gopher {
        margin: 1rem 1rem 0;
    }

    main {
        max-width: 1000px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }

    section {
        margin: 0;
    }

    main > section, main > div {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title-header {
        flex-basis: 100%;
    }

    h2 {
        text-wrap-mode: nowrap;
    }

}